@use '../abstracts/' as *;

.footer {
  &.footer {
    color: var(--footer-color, var(--base-color));
    padding-block: 0;
    container: footer / inline-size;
    font-size: var(--fs-normal);
    
    .section__inner {
      @include container-query(footer, lg) {
        padding-inline: var(--spacing-sm);
      }
    }
  }

  &__bottom {
    padding-block :var(--spacing-sm);
  }

  .back-to-top.active {
    color: var(--primary-color-500);
    border-color: var(--primary-color-500);

    &:is( :hover, :active ) {
      background-color: var(--primary-color-500);
      color: #fff;
    }
  }
}
