@use '../components/hero-section';
@use '../components/jins-pagination';
/* ================================= */
/* =              Header           = */
/* ================================= */
.clubs-header {
  &__description {
    display: grid;
    grid-template-rows: 0fr min-content;

    transition: grid-template-rows 500ms;

    &:has([aria-expanded=true]) {
      grid-template-rows: 1fr min-content;
    }

    &-content {
      min-height: calc(var(--fs-normal) * 4 * 1.5);
      overflow: hidden;
    }

    &-toggle {
      margin-block-start: var(--spacing-md);

      &[aria-expanded=false]:before {
        content: attr(data-collapsed-text);
      }

      &[aria-expanded=true]:before {
        content: attr(data-expanded-text);
      }
    }
  }
}
/* ================================= */
/* =          Clubs filter         = */
/* ================================= */
.clubs-filter {
  padding-block: var(--spacing-3xl) 0;
  margin-inline: auto;
  margin-block: 0;
  width: min(37.5rem, calc(100% - 1.25rem));

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--spacing-md) var(--spacing-lg);

  &:has( &__message[data-status] ) {
    --_form-control-border-color: var(--secondary-color-500);
  }

  &__message {
    grid-column: 1 / -1;
    display: none;
    opacity: 0; 

    transition-behavior: allow-discrete;
    transition-property: height, border-color, opacity, display;
    transition-duration: var(--transition-duration);

    &[data-status] {
      padding: .75rem 1.25rem;
      display: block;
      opacity: 1;
      color: var(--_message-color, var(--color-text-base));
      border: .0625rem solid var(--_message-color, transparent);
    }

    &[data-status=info] {
      --_message-color: var(--primary-color-500);
    }

    &[data-status=error] {
      --_message-color: var(--danger-color-500);
    }
  }

  &__control {
    margin-block-end: 0;
    padding-block: .5rem;
    height: auto;

    background-color: transparent;
    color: var(--color-text-base);
    font-size: var(--fs-normal);
    border: .0625rem solid var(--_form-control-border-color, var(--color-text-base));

    transition: border-color var(--transition-duration);

    @supports (appearance: base-select) {
      &, &:picker {
        appearance: base-select;
        background-image: none;
      }

      & {
        padding-inline: .75rem;
        anchor-name: --select;
        position:relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &:picker-icon {
        flex: 0;
        width: 1.5rem;
        height: 1.5rem;
        margin-inline-start: 0;
        fill: var(--color-text-base);

        content: '\e313';
        font-family: 'Material Symbols Outlined';
      }

      &::picker {
        position: absolute;
        position-anchor: --select;
        top: calc(anchor(bottom) + .25rem);
        width: 100%;
        
        background-color: transparent;
        border: .0625rem solid var(--color-text-base);
      }
    }
  }

  .jins-button {
    --_font-weight: 700;
    --_font-size: var(--fs-normal);
    --_padding-block: .5rem;

    text-transform: uppercase;
  }

  @include container-query(content, sm, gt) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
/* ================================= */
/* =           Clubs list          = */
/* ================================= */
.clubs-content {
  padding-block: var(--spacing-3xl);

  .jins-card {
    --_card-thumbnail-width: minmax(0, 1fr);
    --_card-thumbnail-aspect-ratio: 3/2;
    --_space-between-card: 2rem;

    gap: 0;

    &__title a {
      color: var(--primary-color-500);

      &:hover {
        color: var(--secondary-color-500);
      }
    }
  }

  .pagination {
    margin-top: var(--spacing-lg);

    transition: opacity var(--transition-duration);

    &[aria-busy=true] {
      pointer-events: none;
      opacity: .5;
    }
  }

  @include container-query(content, md) {
    .jins-card {
      --_card-content-padding-inline: 0;

      grid-template-columns: var(--_card-thumbnail-width);
    }
  }

  @include container-query(content, md, gt) {
    .jins-card {
      --_card-content-padding-inline: 3.125rem;
      --_space-between-card: 0;

      &:nth-child(even) {
        & > * {
          grid-row: 1 / 2;
        }
        .jins-card__thumbnail {
          grid-column: 2 / 3;
        }
        .jins-card__content {
          grid-column: 1 / 2;
        }
      }
    }
  }
}