/* ================================= */
/* =              Hero             = */
/* ================================= */
.hero {
  &__banner {
    display: block;
    width: 100%;
  }
}
/* ================================= */
/* =       Customer reviews        = */
/* ================================= */
.customer-reviews {
  padding-block: var(--spacing-6xl) 0;

  &__grid {
    align-items: start;
  }

  @include container-query( content, md, gt ) {
    &__grid {
      --_grid-cols: 2;
    }
  }
}

.customer-review {
  --_avatar-size: 3.125rem;

  padding: clamp( .9375rem, 2cqi, 1.25rem );
  transition: border-color var(--transition-duration);
  border: .0625rem solid transparent;

  &__label {
    display: block;
    margin-block-end: 1.25rem;
  }

  &__customer {
    margin-block-start: 2.5rem;
    display: grid;
    grid-template-columns: var(--_avatar-size) 1fr;
    gap: 0 .625rem;

    &-name {
      text-transform: capitalize;
      font-weight: 600;
    }

    &-from {
      font-size: .8125rem;
    }

    &-avatar {
      grid-row: 1 / 3;
      border-radius: 50%;
    }
  }

  &:hover {
    border-color: var(--color-text-base);
  }
}
/* ================================= */
/* =           Services            = */
/* ================================= */
.services {
  padding-block: var(--spacing-6xl);

  &__grid {
    --_grid-gap: 3.75rem;
  }

  .service {
    display: grid;
    grid-template-columns: var(--_icon-size, 6.25rem) 1fr;
    align-content: start;
    gap: 0 1rem;

    &__icon {
      grid-row: 1 / 3;
    }

    &__label {
      font-family: 'Be Vietnam Pro';
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  @include container-query( content, sm, gt ) {
    &__grid {
      --_grid-cols: 2;
    }
  }

  @include container-query( content, sm, gt ) {
    &__grid {
      --_grid-cols: 3;
    }
  }
}